[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
isort = "*"
yapf = "*"
rope = "*"

[packages]
toml_resume = {editable = true,path = "."}
jsonschema = "*"
fire = "*"
invoke = "*"
